body{
    /*background-color: rebeccapurple;*/
    text-align: center;
    /*background-color: hsl(0, 0%, 8%);
    color: hsl(0, 0%, 100%);*/
    /*font-family: sans-serif;*/
    font-family: "Inter", sans-serif;
    transition: background-color 1s linear;
    transition: color 1s linear;
}
p{
    font-size: 14px;
}
button{
    cursor: pointer;
    background-color: hsl(0, 0%, 20%);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    width: 300px;
    border-radius: 7px;
    font-weight: bold;

    transition: background-color 1s linear;
}

.buttons-box{
    margin: 15px;
}
.outer-box{
    /*margin: 0;
    position: absolute;
    top: 50%;
    left: 35%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);*/
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 95vh;
    /*border: 1px solid black;*/
}
.main-box{
    /*background-color: aliceblue;*/
    /*border: 1px solid black;
    background-color:  hsl(0, 0%, 12%);*/
    padding: 3%;
    border-radius: 3%;
}
#profile-img{
    border-radius: 50%;
    width: 100%;
    height: 100%;
    cursor: pointer;
 
}
.image-container{
    border: 2px solid white;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    margin: auto;
    transition: width 0.5s linear;
    transition: height 0.5s linear;
}
.image-container:hover{
    width: 150px;
    height: 150px;
}


/* for the slider */
.switch {
    position: absolute;
    display: inline-block;
    width: 60px;
    height: 34px;
    left: 91%;
    top: 5%;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /*background-color: #ccc;*/
    background-color: hsl(0, 0%, 20%);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    /*background-color: black;*/
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    /*box-shadow: 0 0 1px #2196F3;*/
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  /* slider ends */

  /* classes for the themes */
  #location{
    margin-top: 0
  }
  .sblack{
    color: hsl(75, 94%, 57%); 
  }
  .swhite{
    color: hsl(0, 0%, 8%);
  }

  .black{
    background-color: hsl(0, 0%, 8%);
    color: hsl(0, 0%, 100%);
  }
  .white{
    background-color: rgb(223, 216, 216);
    color: hsl(0, 0%, 8%);
  }

  .black2{
    background-color:  hsl(0, 0%, 12%);
  }
  .white2{
    background-color:  white;
  }

  /* for buttons */
  .button-black{
    background-color: hsl(0, 0%, 20%);
    color: white;
  }
  .button-black:hover{
    background-color: hsl(75, 94%, 57%);
    color: hsl(0, 0%, 8%);
  }
  .button-white{
    background-color: seagreen;
  }
  .button-white:hover{
    background-color: darkgreen;
  }
  

  /* media queries for mobile responsiveness */
  @media screen and (max-width: 680px) {
   .switch{
    left: 87%;
    top: 4%;
   }
  }

  @media screen and (max-width: 620px) {
    .image-container{
        width: 100px;
        height: 100px;
    }
    .image-container:hover{
        width: 120px;
        height: 120px;
    }
    button{
        width: 250px;
    }
   }

   @media screen and (max-width: 500px) {
    .switch{
     left: 67%;
     top: 7%;
    }
   }

   @media screen and (max-width: 324px){
    button{
        width: 200px;
    }
    .switch{
        left: 70%;
    }
   }
   @media screen and (max-width: 284px){
    button{
        width: 180px;
    }
    .switch{
        left: 74%;
    }
   }

   @media screen and (max-height: 600px){
    .outer-box{
        height: auto;
    }
   }